/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);*/

/**{*/
    /*box-sizin

     */

body{
    background-color: #c5171b;
    color: #f6c582;
    background-image: url("../images/red_wall.jpg");
    background-repeat: repeatY;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    font-family: 'Allerta Stencil', sans-serif;

}

.piano.left{
    position: fixed;
    top: 0;
    left: 18.25em;
    bottom: 10em;
}

.white{
    display: inline-block;
    position: absolute;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 22em 3em 15em;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
    color: #020202;
}



.black{
    position: absolute;
    display: inline-block;
    background-color: black;
    border-radius: 0 0 10px 10px;
    top: 0;
    bottom: 0;
    padding: 20em 2em 8em;
    margin-bottom: 15.6em;
    z-index:2;
    background-image: url("../images/key_black.jpg");
}

#skills-list li{
    color: #020202;
}


.white.C {
    left: -18.4em;
}



.white.D{
    left: -12.25em;
}

.black.CSharp{
left: -14.5em;
}

.black.Eb{
    left: -8em;
}

.white.E{
    right: 0;
}

.red{
    background-color: #d22a33;
    /*border-style: none;*/
    /*background-image: url("../images/matese-fields-195229-unsplash.jpg");*/
}

.piano{
    perspective: 30em;
}

/*.piano .key{*/
    /*!*transform: rotateX(-10deg);*!*/
/*}*/
.visible{
    transition: .3s;
    opacity: 1;
    /*perspective: 50em;*/
    /*transform: perspective(50em) rotateX(50deg);*/
}
.press{
    transform: rotateX(-.5deg);

}
.hidden{
    transition: .5s;
    opacity: 0;
}
.key-content{
    /*display: initial;*/
    position: absolute;
    left: 50%;
    right: 50%;
    top: 92%;
    transform: rotate(-90deg);
    font-size: 2em;
}



.piano.right{
    position: fixed;
    top: 0;
    right: 0;
}

.key.white{
    background-image: url("../images/key.jpg");
}

#main-content{
    /*background-color: blue;*/
    /*position: relative;*/
    /*width: 55%;*/
    /*margin-left: auto;*/
    /*margin-right:auto;*/
    /*left: 30em;*/
    /*left: 20em;*/

    /*right: auto;*/
    position: absolute;
    left: 20em;
    right: 20em;
    padding-top: 3em;
    padding-bottom: 12em;
    /*background-image: url("../images/developer.jpg");*/



}

.profile-pic{
    position: absolute;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    top: 0em;
    left: 20em;
    right: 5em;


}

.container.index{
    position: relative;
    background-image: url("../images/developer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.main-title{
    position: absolute;
    left: 0em;
    /*right: 5em;*/
    top: -1.5em;
    /*font-size: 5em;*/
    font-size: 5vw;
}


.subtitle-container{
    position: absolute;
    top: 0em;
    font-size: 2.5vw;
    left: -1em;
}

.subtitle-container li{

    display: inline-block;


}


#skills-list{
    position: absolute;

    list-style-type: square;
}

#index-contact{
    position: absolute;
    top: 20em;
}

a{
    text-decoration: none;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    /*background-image: url(/css/images/logo.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*padding-top:95px;*/
    /*margin-bottom:60px;*/
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.animated2 {
    /*background-image: url(/css/images/logo.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*padding-top:95px;*/
    /*margin-bottom:60px;*/
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.animated3 {
    /*background-image: url(/css/images/logo.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*padding-top:95px;*/
    /*margin-bottom:60px;*/
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2.5s;
}

.animated4 {
    /*background-image: url(/css/images/logo.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*padding-top:95px;*/
    /*margin-bottom:60px;*/
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2.5s;
}

.biography-container{
    height: 87vh;
    overflow: auto;
    position: fixed;
    padding-right: 4vw;
    padding-left: 4vw;
    margin-left: 25%;
    margin-right: 25%;
    top: 4em;
    color: #020202;
    background-color: #f6c582;
}

.biography-container h2{
    text-align: center;
}

.shadow {
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}

.shadow-deep {
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}

#console-container{
    position: absolute;
    left: 5vw;
}
#console{
    /*position: relative;*/
    position: absolute;
    top: 20em;
    left: 22vw;
    /*right: 50%;*/
    background-color: #2b2b2b;
    padding-left: 0em;
    padding-right: 0em;
    /*padding-bottom: 15em;*/
    color: lawngreen;
    font-size: 16px;

    display: block;
    overflow: auto;
    height: 250px;
}

#console-header{
    margin-bottom: .5em;
    postion: absolute;
    /*left: -10em;*/
    /*right: 10em;*/
    /*left: -50em;*/
    top: 0;
    /*left: ;*/
    /*right: 10em;*/
    /*padding: 1em 11vw;*/
    /*width: 75%;*/
    padding-left: 20vw;
    padding-right: 25vw;
    padding-bottom: .5em;
    background-color: gray;
    z-index: 1;
}

#print-skill{
    left: 3vh;
}

#sound-button{
    position: absolute;
    left: 25vw;
    top: 10vh;
    /*width: 8vw;*/
    /*height: 5vh;*/
    /*border-radius: 10px;*/
    /*background-color: blue;*/
}

.sound-about-page{
    /*position: absolute;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

#sound-button.about-page-button{
    position: relative;
    left: 0;
    top: 0;
}

/*#sound-button:focus{*/
    /*outline: 0;*/
/*}*/

@media only screen and (max-width: 1500px){
    .right{
        display: none;
    }

    .main-content{
        right: 0;
    }
}


/*#skills-list li{*/
    /*animation: slidein 3s ease-in 1s infinite reverse both running;*/

/*}*/

/*@-webkit-keyframes move*/
/*{*/
    /*from {*/
        /*left: 0;*/
    /*}*/
    /*to {*/
        /*left: 50%;*/
    /*}*/
/*}*/
/*@keyframes move*/
/*{*/
    /*from {*/
        /*left: 0;*/
    /*}*/
    /*to {*/
        /*left: 50%;*/
    /*}*/
/*}*/

/*#skills-list li {*/
    /*text-decoration: none;*/
    /*padding-right: 20px;*/
    /*left: 50%;*/
    /*position: absolute;*/
    /*-webkit-animation: move 5s;*/
    /*animation: move 5s;*/
/*}*/

/*@-webkit-keyframes move*/
/*{*/
    /*from {*/
        /*left: 100%;*/
    /*}*/
    /*to {*/
        /*left: 10%;*/
    /*}*/
/*}*/
/*@keyframes move*/
/*{*/
    /*from {*/
        /*left: 100%;*/
    /*}*/
    /*to {*/
        /*left: 10%;*/
    /*}*/
/*}*/

/*#skills-list  li{*/
    /*!*text-decoration: none;*!*/
    /*!*padding-right: 20px;*!*/
    /*left: 100%;*/
    /*!*position: absolute;*!*/
    /*-webkit-animation: move 5s;*/
    /*animation: move 5s;*/
/*}*/

/*Imported from display.css*/

/*html{*/
    /*background-color: black;*/
/*}*/
/*Create a container for the body content*/
/*body{*/
    /*font-family: 'Roboto', sans-serif;*/
    /*margin-right: 2em;*/
    /*margin-left: 2em;*/
    /*width: 50%;*/
/*}*/

/*a{*/
    /*text-decoration: none;*/
/*}*/

/*!*Nav bar*!*/
/*.nav-bar{*/
    /*position: fixed;*/
    /*background-color: #444444;*/
    /*margin-top: 0;*/
    /*padding-bottom: 1em;*/
    /*padding-top: 1em;*/
    /*margin-bottom: 10px;*/
    /*border-radius: 10px;*/
    /*right: 2em;*/
    /*left: 2em;*/
    /*top: 0;*/
/*}*/

/*.nav-bar ul{*/
    /*list-style-type: none;*/
    /*line-height: 5px;*/
    /*height: 5px;*/
    /*margin-right: 40px;*/
/*}*/


/*.nav-bar li{*/
    /*display: inline;*/

/*}*/

/*.nav-bar li.li-left{*/
    /*float: left;*/
    /*margin-left: 10px;*/
/*}*/

/*.nav-bar li.li-right{*/
    /*float: right;*/
    /*margin-right: 10px;*/
/*}*/


/*.nav-bar li.divider{*/
    /*color: #232323*/
/*}*/

/*.nav-bar ul a{*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*.nav-bar ul a:hover{*/
    /*color: black;*/
/*}*/

/*!*My work page styles*!*/

/*html{*/
    /*background-color: black;*/
/*}*/
/*!*Create a container for the body content*!*/
/*body{*/
    /*font-family: 'Roboto', sans-serif;*/
    /*margin-right: 2em;*/
    /*margin-left: 2em;*/
    /*width: 50%;*/
/*}*/

/*a{*/
    /*text-decoration: none;*/
/*}*/

/*!*Nav bar*!*/
/*.nav-bar{*/
    /*position: fixed;*/
    /*background-color: #444444;*/
    /*margin-top: 0;*/
    /*padding-bottom: 1em;*/
    /*padding-top: 1em;*/
    /*margin-bottom: 10px;*/
    /*border-radius: 10px;*/
    /*right: 2em;*/
    /*left: 2em;*/
    /*top: 0;*/
/*}*/

/*.nav-bar ul{*/
    /*list-style-type: none;*/
    /*line-height: 5px;*/
    /*height: 5px;*/
    /*margin-right: 40px;*/
/*}*/


/*.nav-bar li{*/
    /*display: inline;*/

/*}*/

/*.nav-bar li.li-left{*/
    /*float: left;*/
    /*margin-left: 10px;*/
/*}*/

/*.nav-bar li.li-right{*/
    /*float: right;*/
    /*margin-right: 10px;*/
/*}*/


/*.nav-bar li.divider{*/
    /*color: #232323*/
/*}*/

/*.nav-bar ul a{*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*.nav-bar ul a:hover{*/
    /*color: black;*/
/*}*/

/*!*My work page styles*!*/

/*.container{*/
    /*!*background-image: url("../images/safar-safarov-1509070-unsplash.jpg");*!*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*background-attachment: fixed;*/
    /*border-radius: 0.3em;*/

/*}*/

/*.container.my-work{*/
    /*text-align: center;*/
/*}*/

/*.container #table-container, #music-video-container {*/
    /*background-color: #888888;*/
    /*margin-right: 5em;*/
    /*margin-left: 5em;*/
    /*border-radius: 1em;*/
    /*margin-top: 5em;*/
/*}*/

/*#my-work-img-container{*/
    /*text-align: center;*/
    /*margin-top: 4.33em;*/
    /*height: 15%;*/
    /*width: auto;*/

/*}*/
/*#my-work-img{*/
    /*width: 15%;*/
    /*float: left;*/
    /*margin-top: 3em;*/
    /*margin-left: 3.5em;*/
    /*border-radius: 50%;*/
/*}*/


/*.table-container{*/
    /*text-align: center;*/
    /*padding-right: 2em;*/

/*}*/

/*.table-caption{*/
    /*padding-top: 3em;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

/*.container table {*/
    /*padding-right: 3em;*/
    /*padding-left: 3em;*/
    /*padding-bottom: 3em;*/
    /*resize: both;*/
    /*overflow: auto;*/
/*}*/

/*.container th, #my-work td{*/
    /*padding: 1em;*/
/*}*/

/*.container tr:nth-child(even){*/
    /*background-color: #555;*/
/*}*/

/*.container th {*/
    /*font-size: 30px;*/
/*}*/

/*.table-caption{*/
    /*font-size: 50px;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
/*}*/

/*#music-video-container{*/
    /*padding-top: 2em;*/
    /*text-align: center;*/
    /*margin-top: 10em;*/
    /*margin-bottom: 10em;*/
    /*padding-bottom: 5em;*/

/*}*/

/*#music-title{*/
    /*font-size: 50px;*/
/*}*/

/*#music-subtitle{*/
    /*font-size: 30px;*/
/*}*/

/*hr{*/
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
/*}*/

/*video{*/
    /*margin: .5em;*/
/*}*/

/*table{*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
/*}*/

/*td{*/
    /*overflow: hidden;*/

/*}*/

/*video{*/
    /*width: 75%;*/
/*}*/

/*!*Index/home*!*/


/*.profile-pic{*/

    /*border-radius: 100%;*/

    /*width: 33%;*/
    /*height: auto;*/
    /*right: 0;*/
    /*margin-top: 1em;*/
    /*float: right;*/
/*}*/

/*.profile-pic-container{*/
    /*padding-top: 3em;*/
    /*right: 2em;*/

/*}*/

/*.main-title{*/
    /*padding-top: 3em;*/
    /*font-size: 75px;*/
    /*float: left;*/
/*}*/

/*.index.container{*/
    /*padding-bottom: 500px;*/
    /*color: white;*/
/*}*/

/*.index.subtitle{*/
    /*padding-top: 7.5em;*/
    /*font-size: 50px;*/

/*}*/

/*.subtitle-container{*/
    /*padding-top: 4em;*/
    /*font-size: 50px;*/
    /*padding-right: 20em;*/
/*}*/

/*#index-contact{*/
    /*font-size: 25px;*/
/*}*/

/*#skills-list{*/
    /*list-style: none;*/
/*}*/

/*.biography-container p:nth-child(even){*/
    /*color: #232323;*/
/*}*/

/*!*Info page*!*/
/*.biography-container{*/
    /*text-align: center;*/
    /*margin-top: 10em;*/
    /*margin-bottom: 10em;*/
    /*background-color: #888888;*/
    /*border-radius: 3em;*/
    /*padding: 2em 3em 5em;*/

/*}*/

/*.biography-container ul{*/
    /*list-style: none;*/
/*}*/

/*#biography-timeline-header{*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
/*}*/

/*.biography-container li:nth-child(even){*/
    /*color: #232323;*/
/*}*/

/*.biography-bottom{*/
    /*margin-bottom: 5em;*/
    /*border-radius: 3em 3em 0 0;*/
/*}*/
/*!*Media queries*!*/
/*@media only screen and (max-width:620px){*/
    /*.table-caption, td, th{*/
        /*font-size: 16px;*/
        /*font-style: normal;*/
    /*}*/

    /*#my-work-img{*/
        /*visibility: hidden;*/
    /*}*/

/*}*/


/*@media only screen and (max-width:500px){*/
    /*body{*/
        /*margin-right: initial;*/
        /*margin-left: initial;*/
    /*}*/

    /*.container{*/
        /*width: 100%;*/
        /*padding: 3em;*/

    /*}*/

    /*.nav-bar{*/
        /*right: 0;*/
        /*left: 0;*/
    /*}*/

    /*#table-container{*/

        /*width: 100%;*/
    /*}*/

    /*html{*/
        /*background-color: initial;*/
    /*}*/

    /*.container #table-container, #music-video-container {*/
        /*background-color: #888888;*/
        /*margin-right: 0;*/
        /*margin-left: 0;*/
        /*border-radius: 1em;*/
    /*}*/

    /*#my-work-img{*/
        /*visibility: hidden;*/
    /*}*/

/*}*/


/*}*/